<div class="container">
    <div class="mt-5 p-5">
        <div class="pt-5"></div>
    </div>
    <header class="section-header">
        <h2 class="mt-1">Hervé Bamana </h2>
        <p>HBLUX RENOVATION </p>

        <img class="small-img-logo" src="../../../../assets/images/logo.jpg" alt="" srcset="">
    </header>
    <div class="d-flex  flex-column  flex-column justify-content-center align-items-center">

        <div class="d-flex flex-column flex-column justify-content-between mx-5 mb-5">


            <p>
                NOUS SOMMES Hblux Rénovation ! Une équipe proche de vous, pour mieux répondre à vos besoins

            </p>
            <p>Hblux Rénovation est une entreprise générale de rénovation , spécialisée dans les travaux de rénovation, basée à Paris.
            </p>
            <p>

                Notre métier est de vous accompagner dans tous vos projets de travaux. Hblux Rénovation réalise, pour chaque personne qui le désire, la création, construction, l’amélioration ou la rénovation de votre habitat. Les compétences de nos équipes nous permettent
                de vous proposer des prestations au bon rapport qualité-prix.

            </p>
            <p>
                Les conseillers Hblux Rénovation vous proposent gratuitement et sans engagement de votre part, des solutions ainsi qu’un chiffrage précis. Hblux Rénovation s’engage au bon déroulement de vos travaux. Champs de compétence: rénovation immobilière, construction,
                couverture (zinc, tuiles, bac acier…),étanchéité, peinture, plâtrerie, salle de bain, cuisine, carrelage, parquet, menuiseries sur mesure, clôture sur mesure, portail et portillon sur mesure, aménagement de comble, isolation intérieure,
                isolation extérieure, plomberie, électricité.

            </p>
        </div>
    </div>

</div>
