<div class="container">
    <div class="mt-5 pt-5">
        <div class="mt-5 pt-3">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-4">
            <header class="section-header">

                <p>HERVE BAMANA </p>
                <h2 class="mt-1">Garcon complet </h2>
                <p hidden>HB LUX : L'IDENTITÉ PLANÉTAIRE DE LA HAUTE COUTURE !</p>
            </header>
            Hervé Bamana avec sa marque HB LUX espère détrôner Gucci, Balenciaga, Louis Vuitton en devenant l'identité planétaire de la haute couture. Pour faire mieux , il faut apprendre mieux dit-on. L'artisan du luxe est un proche de plusieurs acteurs culturels
            et sportifs de l'actuelle scène au Congo. En effet, fidèle à ses valeurs et à son pseudonyme " garçon de luxe, garçon complet", le créateur de la marque HB Lux a beaucoup appris lors de ses passages en tant que styliste-designer chez Jennifer,
            Gucci et chez Balenciaga et depuis, il cède acquis et temps dans la confection des mythiques collections luxueuses. Donnant une touche particulière dans l'art du luxe contemporain, Hervé serait dans la logique fashion, un Picasso de la mode.
            Désignant et créant le luxe prêt-à-porter en format t-shirt, blouson, jacket, chemise grâce HB Lux qui semble être la représentation du bon chic dans le streetwear, Bamana réalise dans les ateliers en France, les modèles HB Lux spécifiques
            portant de la bourgeoisie sur leur signature dorée et sur leur assemblage des pièces. En se référant à tous ses stages chez les grands couturiers et en cherchant à faire mieux, Hervé a réussi un certain 29 juin 2019 à créer, tel un génie,
            un concept devenu en peu de temps un vêtement " Suits". Dans cette marque, l'on détecte des spécificités techniques que l'on ne trouve pas même chez Zilli par exemple. En outre, par rapport à la distribution de la marque, l'angolo-congolais
            s'adonne plus au E-commerce & Fintech tout en ouvrant de magasins progressivement.
        </div>
        <div class="col-sm-12 col-lg-8">
            <div class="d-flex justify-content-center align-items-center">
                <img class="big-img" src="../../../../assets/images/herve4.jpeg" alt="">
            </div>
        </div>
    </div>

    <!--  <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="row my-3">
            <div class="col-md-4">
                <img class="small-img" src="../../../../assets/images/herve2.jpeg" alt="">
            </div>
            <div class="col-md-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita. Magnam, cupiditate quas sed totam ducimus ut dolor minima? Omnis at asperiores repellat voluptates ipsa consequatur veritatis quaerat. Nesciunt nulla suscipit repellendus voluptas! Amet
                modi minus debitis.
            </div>

        </div>
        <div class="row my-3">
            <div class="col-md-4">
                <img class="small-img" src="../../../../assets/images/herve3.jpeg" alt="">
            </div>
            <div class="col-md-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita. Magnam, cupiditate quas sed totam ducimus ut dolor minima? Omnis at asperiores repellat voluptates ipsa consequatur veritatis quaerat. Nesciunt nulla suscipit repellendus voluptas! Amet
                modi minus debitis.
            </div>

        </div>
        <div class="row my-3">
            <div class="col-md-4">
                <img class="small-img" src="../../../../assets/images/image1.jpeg" alt="">
            </div>
            <div class="col-md-8">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita. Magnam, cupiditate quas sed totam ducimus ut dolor minima? Omnis at asperiores repellat voluptates ipsa consequatur veritatis quaerat. Nesciunt nulla suscipit repellendus voluptas! Amet
                modi minus debitis.
            </div>

        </div>
    </div> -->
</div>
