<div class="container">
    <div class="mt-5 pt-5">
        <div class="pt-5"></div>
    </div>
    <div class="mt-5 pt-5">
        <header class="section-header">
            <h2> </h2>
            <p>Bienvenue au HBLUX EVENTS </p>
        </header>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <iframe style="width:80%; height:35rem;" src="https://www.youtube.com/embed/KeWK8sjfHvU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
